.section-subtitle {
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #fed9bd;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
}

@media screen and (max-width: 710px) {
  .section-subtitle {
    font-size: 10px;
  }
}
