.forest__descr {
  max-width: 415px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 710px) {
  .forest__descr {
    padding: 20px 20px 20px 30px;
  }

}

@media screen and (max-width: 576px) {
  .forest__descr {
    padding: 20px 10px 10px 20px;
    gap: 50px;
  }

}

@media screen and (max-width: 425px) {
  .forest__descr {
    padding: 30px 10px 50px 10px;
    gap: 30px;
    order: 2;
  }

}
