.people {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 100px;
}

@media screen and (max-width: 576px) {
  .people {
    gap: 50px;
  }

}

@media screen and (max-width: 425px) {
  .people {
    gap: 30px;
  }
}
