.header__link-hate {
  text-decoration: none;
  color: #010101;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (max-width: 710px) {
  .header__link-hate {
    font-size: 10px;
  }
}

@media screen and (max-width: 425px) {
  .header__link-hate {
    color: #fff;
    font-size: 12px;

  }
}
